:root {
  /* Primary */
  --Background-Gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /*  Neutral */
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--Grayish-Blue);
  height: 100vh;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--Very-Light-Grayish-Blue);
}

main {
  max-width: 1050px;
  margin: 0 auto;
}

h2 {
  font-size: 3.2rem;
}

.list {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.list__item {
  padding: 0.7rem 0 0.7rem;
  line-height: 28px;
  border-top: 0.5px solid var(--Light-Grayish-Blue);
}

.last {
  border-bottom: 0.5px solid var(--Light-Grayish-Blue);
}

/* btn */
.btn {
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 1.39px;
  padding: 1.2rem 0;
  border: none;
  text-transform: uppercase;
  margin-top: 3.2rem;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
  outline: none;
  transition: all 0.3s;
}

.btn--primary {
  background-image: var(--Background-Gradient);
  color: #fff;
}

.btn--secondary {
  background: #fff;
  color: #6d72de;
}

.btn--primary:hover,
.btn--primary:focus {
  background: transparent;
  color: #6d72de;
  border: 1px solid #6d72de;
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-image: var(--Background-Gradient);
  color: #fff;
  border: 1px solid #fff;
}

/* toggle */
.toggle {
  background-image: var(--Background-Gradient);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 0.2px;
  margin: 0 1.2rem;
  width: 56px;
  height: 32px;
  position: relative;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.toggle:hover,
.toggle:focus {
  opacity: 0.7;
}

.toggle__badge {
  position: absolute;
  transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.active-toggle {
  transform: translate(-100%, -50%);
}

/* Heading */
.header {
  text-align: center;
  margin: 6.4rem;
}

/* card  */
.card {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 3rem;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.06);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Dark-Grayish-Blue);
  margin: 2.4rem 0 3.2rem;
}

.amount {
  font-size: 7.2rem;
  line-height: 71px;
  letter-spacing: -2.16px;
}

.currency {
  font-size: 4rem;
  margin-right: 5px;
}

.card--popular {
  background-image: var(--Background-Gradient);
  color: #fff;
}

.card--popular .price {
  color: #fff;
}

.card__header {
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  line-height: 28px;
  margin-top: 0;
}

/* Grids */

.grid {
  display: grid;
  row-gap: 1.8rem;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}
